.main-stage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-stage > .simple-title {
    padding-top: 166px;
}

.main-stage > .simple-subtitle {
    padding-top: 15px;
}

.main-stage > .primary-button.-dark {
    margin-top: 140px;

    width: 180px;
    height: 28px;

    /* When line-height is set equal to height, text gets align in center Y */
    line-height: 28px;
    text-align: center;
    font-size: 15px;
}

.main-stage > .simple-action.-light {
    margin-top: 40px;
}

.main-stage > .main-image {
    width: 674px;
    height: 320px;

    position: absolute;
    z-index: -1;
    opacity: 0.4;

    padding-top: 212px;
}    